# [Pandas](https://pandas.pydata.org/)

### 1. WHAT'S IT?

<p align="center"><img src="img/Pandas_logo.svg" alt="Pandas" width="500"/></p>
 
 **[Pandas](https://pandas.pydata.org/)** = Panel Data, multi-dimensional data involving measurements over time. Create in 2015 by **Wes McKinney**. Pandas an open-source library that is built on top of NumPy library. It is a Python package that offers various data structures and operations for manipulating numerical data and time series. It is mainly popular for importing and analyzing data much easier. Pandas is fast and it has high-performance & productivity for users.
  
### Feature of Pandas :
  
  - Handling of data; Series object and dataframe
  - Alignment and indexing
  - Handling of missing data
  - Cleaning up data
  - Input and output tools
  - Multiple file formats supported
  - Merging and joining of datasets
  - A lot of time series
  - Optimized performance
  - Python support
  - Visualize
  - Grouping
  - Mask data
  - Unique data
  - Perform mathematical operations on the data
  
  
### Pandas vs. Numpy

|Pandas  |Numpy | 
|:---------:|:---------:|
|Perform better than numpy for 500k rows or more |  Perform better for 50k rows or less |  
|Pandas series object more plexible as you can define your own labeled index to index and across element of an array |  Element in numpy are accessed by their default integer position |

### Kind of data does suit Pandas

- Tabular data
- Arbitrary matrix
- Time series data

## 2. DATA-SET ON PANDAS

### Series object 

- One-dimensional labeled array
- Contains data of semilar of mixed types
- Create different series object datatype: Array, Dictionary, Scalar

In [1]:
# example of series object on pandas
# creating series object using list
import pandas as pd
data = [1,2,3,4]
series1 = pd.Series(data)
series1

0    1
1    2
2    3
3    4
dtype: int64

In [2]:
type(series1)

pandas.core.series.Series

In [3]:
# change the index ob series object
series1 = pd.Series(data, index = ['a','b','c','d'])
series1

a    1
b    2
c    3
d    4
dtype: int64

### DataFrame

- Two dimensional labeled data structured with column of potentially different types
- Featured of dataframe: Different column types, mutable size, labeled axes, arithmetic operations on rows and columns

In [4]:
# example dataframe on pandas
# creating dataframe using list
import pandas as pd
data = [1,2,3,4,5,6]
df = pd.DataFrame(data)
df

   0
0  1
1  2
2  3
3  4
4  5
5  6

In [5]:
# creating dataframe using dictionary
dictionary = {'fruits':['apples','banana','mangoes'],'count':[10,20,30]}
df = pd.DataFrame(dictionary)
df

    fruits  count
0   apples     10
1   banana     20
2  mangoes     30

In [6]:
# creating dataframe using a series
series = pd.Series([5,10], index = ['a','b'])
df = pd.DataFrame(series)
df

    0
a   5
b  10

In [7]:
# creating dataframe using numpy array
import numpy as np
numpyarray = np.array([[5000,10000],['Jhon','Doe']])
df = pd.DataFrame({'name':numpyarray[1],'salary':numpyarray[0]})
df

   name salary
0  Jhon   5000
1   Doe  10000

## 3. MERGE, JOIN, CONCATENATE

### Merge Operation

Pandas provides a single function, merge(), as the entry point for all standard database join operations between DataFrame objects.

In [8]:
import pandas as pd
player = ['Player1','Player2','Player3']
point = [8,9,10]
title = ['Game1','Game2','Game3']
df1 = pd.DataFrame({'Player':player,'Point':point,'Title':title})
df1

    Player  Point  Title
0  Player1      8  Game1
1  Player2      9  Game2
2  Player3     10  Game3

In [9]:
player = ['Player1','Player5','Player6']
power = ['Punch','Kick','Elbow']
title = ['Game1','Game5','Game6']
df2 = pd.DataFrame({'Player':player,'Power':power,'Title':title})
df2

    Player  Power  Title
0  Player1  Punch  Game1
1  Player5   Kick  Game5
2  Player6  Elbow  Game6

In [10]:
# Inner merge
df1.merge(df2, on='Player', how='inner')

    Player  Point Title_x  Power Title_y
0  Player1      8   Game1  Punch   Game1

In [11]:
# Left merge
df1.merge(df2, on='Player', how='left')

    Player  Point Title_x  Power Title_y
0  Player1      8   Game1  Punch   Game1
1  Player2      9   Game2    NaN     NaN
2  Player3     10   Game3    NaN     NaN

In [12]:
# Right merge
df1.merge(df2, on='Player', how='right')

    Player  Point Title_x  Power Title_y
0  Player1    8.0   Game1  Punch   Game1
1  Player5    NaN     NaN   Kick   Game5
2  Player6    NaN     NaN  Elbow   Game6

In [13]:
# Outer merge
df1.merge(df2, on='Player', how='outer')

    Player  Point Title_x  Power Title_y
0  Player1    8.0   Game1  Punch   Game1
1  Player2    9.0   Game2    NaN     NaN
2  Player3   10.0   Game3    NaN     NaN
3  Player5    NaN     NaN   Kick   Game5
4  Player6    NaN     NaN  Elbow   Game6

### Join Operation

In [14]:
player = ['Player1','Player2','Player3']
point = ['Punch','Kick','Elbow']
title = ['Game1','Game2','Game3']
df3 = pd.DataFrame({'Player':player,'Points':point,'Title':title}, index = ['L1','L2','L3'])
df3

     Player Points  Title
L1  Player1  Punch  Game1
L2  Player2   Kick  Game2
L3  Player3  Elbow  Game3

In [15]:
players = ['Player1','Player5','Player6']
power = ['Punch','Kick','Elbow']
titles = ['Game1','Game5','Game6']
df4 = pd.DataFrame({'Players':players,'Power':power,'Titles':titles}, index = ['L2','L3','L4'])
df4

    Players  Power Titles
L2  Player1  Punch  Game1
L3  Player5   Kick  Game5
L4  Player6  Elbow  Game6

In [16]:
# Inner join
df3.join(df4, how='inner')

     Player Points  Title  Players  Power Titles
L2  Player2   Kick  Game2  Player1  Punch  Game1
L3  Player3  Elbow  Game3  Player5   Kick  Game5

In [17]:
# Left join
df3.join(df4, how='left')

     Player Points  Title  Players  Power Titles
L1  Player1  Punch  Game1      NaN    NaN    NaN
L2  Player2   Kick  Game2  Player1  Punch  Game1
L3  Player3  Elbow  Game3  Player5   Kick  Game5

In [18]:
# Right join
df3.join(df4, how='right')

     Player Points  Title  Players  Power Titles
L2  Player2   Kick  Game2  Player1  Punch  Game1
L3  Player3  Elbow  Game3  Player5   Kick  Game5
L4      NaN    NaN    NaN  Player6  Elbow  Game6

In [19]:
# Outer join
df3.join(df4, how='outer')

     Player Points  Title  Players  Power Titles
L1  Player1  Punch  Game1      NaN    NaN    NaN
L2  Player2   Kick  Game2  Player1  Punch  Game1
L3  Player3  Elbow  Game3  Player5   Kick  Game5
L4      NaN    NaN    NaN  Player6  Elbow  Game6

### Concatinate 

DataFrames Concatenation
concat() function does all of the heavy lifting of performing concatenation operations along an axis while performing optional set logic (union or intersection) of the indexes (if any) on the other axes.

In [20]:
# concatinate 2 dfs on pandas
pd.concat([df3, df4])

     Player Points  Title  Players  Power Titles
L1  Player1  Punch  Game1      NaN    NaN    NaN
L2  Player2   Kick  Game2      NaN    NaN    NaN
L3  Player3  Elbow  Game3      NaN    NaN    NaN
L2      NaN    NaN    NaN  Player1  Punch  Game1
L3      NaN    NaN    NaN  Player5   Kick  Game5
L4      NaN    NaN    NaN  Player6  Elbow  Game6

## 4. IMPORTING, EXPORTING & ANALYZING DATASET

In [21]:
# Import pandas library
import pandas as pd
# Read dataset and store into a dataframe
cars = pd.read_csv("dataset/mtcars.csv")
# Check the type
type(cars)

pandas.core.frame.DataFrame

In [22]:
# View only first five records
cars.head()

,no,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,1,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,2,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,3,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,4,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,5,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [23]:
# view only last five records
cars.tail()

,no,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
27,28,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.9,1,1,5,2
28,29,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.5,0,1,5,4
29,30,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.5,0,1,5,6
30,31,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.6,0,1,5,8
31,32,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.6,1,1,4,2

In [24]:
# View number of rows and columns in the dataframe
cars.shape

(32, 13)

In [25]:
# Print a concise summary of the column
cars.info(null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 13 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   no      32 non-null     int64
 1   model   32 non-null     object
 2   mpg     32 non-null     float64
 3   cyl     32 non-null     int64
 4   disp    32 non-null     float64
 5   hp      32 non-null     int64
 6   drat    32 non-null     float64
 7   wt      32 non-null     float64
 8   qsec    32 non-null     float64
 9   vs      32 non-null     int64
 10  am      32 non-null     int64
 11  gear    32 non-null     int64
 12  carb    32 non-null     int64
dtypes: float64(5), int64(7), object(1)
memory usage: 3.4+ KB

In [26]:
# Mean
cars.mean()

no       16.500000
mpg      20.090625
cyl       6.187500
disp    230.721875
hp      146.687500
drat      3.596563
wt        3.217250
qsec     17.848750
vs        0.437500
am        0.406250
gear      3.687500
carb      2.812500
dtype: float64

In [27]:
# Median
cars.median()

no       16.500
mpg      19.200
cyl       6.000
disp    196.300
hp      123.000
drat      3.695
wt        3.325
qsec     17.710
vs        0.000
am        0.000
gear      4.000
carb      2.000
dtype: float64

In [28]:
# Standart deviation
cars.std()

no        9.380832
mpg       6.026948
cyl       1.785922
disp    123.938694
hp       68.562868
drat      0.534679
wt        0.978457
qsec      1.786943
vs        0.504016
am        0.498991
gear      0.737804
carb      1.615200
dtype: float64

In [29]:
# Maximum of each attribute
cars.max()

no               32
model    Volvo 142E
mpg            33.9
cyl               8
disp            472
hp              335
drat           4.93
wt            5.424
qsec           22.9
vs                1
am                1
gear              5
carb              8
dtype: object

In [30]:
# Minimum of each attribute
cars.min()

no                 1
model    AMC Javelin
mpg             10.4
cyl                4
disp            71.1
hp                52
drat            2.76
wt             1.513
qsec            14.5
vs                 0
am                 0
gear               3
carb               1
dtype: object

In [31]:
# Number of non-null records in each column
cars.count()

no       32
model    32
mpg      32
cyl      32
disp     32
hp       32
drat     32
wt       32
qsec     32
vs       32
am       32
gear     32
carb     32
dtype: int64

In [32]:
# Descriptive statistics summary
cars.describe()

,no,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
count,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.0000
mean,16.500000,20.090625,6.187500,230.721875,146.687500,3.596563,3.217250,17.848750,0.437500,0.406250,3.687500,2.8125
std,9.380832,6.026948,1.785922,123.938694,68.562868,0.534679,0.978457,1.786943,0.504016,0.498991,0.737804,1.6152
min,1.000000,10.400000,4.000000,71.100000,52.000000,2.760000,1.513000,14.500000,0.000000,0.000000,3.000000,1.0000
25%,8.750000,15.425000,4.000000,120.825000,96.500000,3.080000,2.581250,16.892500,0.000000,0.000000,3.000000,2.0000
50%,16.500000,19.200000,6.000000,196.300000,123.000000,3.695000,3.325000,17.710000,0.000000,0.000000,4.000000,2.0000
75%,24.250000,22.800000,8.000000,326.000000,180.000000,3.920000,3.610000,18.900000,1.000000,1.000000,4.000000,4.0000
max,32.000000,33.900000,8.000000,472.000000,335.000000,4.930000,5.424000,22.900000,1.000000,1.000000,5.000000,8.0000

In [33]:
# Exporting dataframe
df3.to_csv('dataset/export.csv')
# to export without the index, simply add index=False;
# df3.to_csv('file_name.csv', index=False)
# getUnicodeEncodeError , simply add encoding='utf-8' ;
# df3.to_csv('file_name.csv', encoding='utf-8')

## 5. CLEANING DATA-SET

- Data cleaning or data cleansing is the process of detecting, correcting or removing corrupt or inaccurate records from a data-set, table or database.
- It also refers to identifying incomplete, incorrect, inaccurate or irrelevant parts of the data and then replacing, modifying or deleting the dirty data.

In [34]:
# Rename column
cars = cars.rename(columns={'Unnamed : 1':'model'})
cars

,no,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,1,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,2,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,3,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,4,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,5,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
5,6,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
6,7,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
7,8,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
8,9,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
9,10,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
10,11,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
11,12,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
12,13,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
13,14,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
14,15,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
15,16,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
16,17,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
17,18,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
18,19,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
19,20,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
20,21,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
21,22,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
22,23,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
23,24,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
24,25,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
25,26,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
26,27,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
27,28,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
28,29,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
29,30,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
30,31,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
31,32,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

In [35]:
# Fill the null value with mean of the column
cars.qsec = cars.qsec.fillna(cars.qsec.mean())
cars

,no,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,1,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,2,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,3,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,4,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,5,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
5,6,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
6,7,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
7,8,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
8,9,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
9,10,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
10,11,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
11,12,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
12,13,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
13,14,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
14,15,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
15,16,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
16,17,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
17,18,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
18,19,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
19,20,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
20,21,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
21,22,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
22,23,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
23,24,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
24,25,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
25,26,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
26,27,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
27,28,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
28,29,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
29,30,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
30,31,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
31,32,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

In [36]:
# Drop unwanted column
cars = cars.drop(columns=['no'])
cars

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

In [37]:
# Find correlation matrix
df = cars[['mpg','cyl','disp','hp','drat','wt','qsec','vs','am','gear','carb']].corr()
df

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
mpg,1.000000,-0.852162,-0.847551,-0.776168,0.681172,-0.867659,0.418684,0.664039,0.599832,0.480285,-0.550925
cyl,-0.852162,1.000000,0.902033,0.832447,-0.699938,0.782496,-0.591242,-0.810812,-0.522607,-0.492687,0.526988
disp,-0.847551,0.902033,1.000000,0.790949,-0.710214,0.887980,-0.433698,-0.710416,-0.591227,-0.555569,0.394977
hp,-0.776168,0.832447,0.790949,1.000000,-0.448759,0.658748,-0.708223,-0.723097,-0.243204,-0.125704,0.749812
drat,0.681172,-0.699938,-0.710214,-0.448759,1.000000,-0.712441,0.091205,0.440278,0.712711,0.699610,-0.090790
wt,-0.867659,0.782496,0.887980,0.658748,-0.712441,1.000000,-0.174716,-0.554916,-0.692495,-0.583287,0.427606
qsec,0.418684,-0.591242,-0.433698,-0.708223,0.091205,-0.174716,1.000000,0.744535,-0.229861,-0.212682,-0.656249
vs,0.664039,-0.810812,-0.710416,-0.723097,0.440278,-0.554916,0.744535,1.000000,0.168345,0.206023,-0.569607
am,0.599832,-0.522607,-0.591227,-0.243204,0.712711,-0.692495,-0.229861,0.168345,1.000000,0.794059,0.057534
gear,0.480285,-0.492687,-0.555569,-0.125704,0.699610,-0.583287,-0.212682,0.206023,0.794059,1.000000,0.274073
carb,-0.550925,0.526988,0.394977,0.749812,-0.090790,0.427606,-0.656249,-0.569607,0.057534,0.274073,1.000000

In [38]:
# Change mpg from string to float
cars.mpg = cars.mpg.astype(float)
# See the change
cars.info(null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   model   32 non-null     object
 1   mpg     32 non-null     float64
 2   cyl     32 non-null     int64
 3   disp    32 non-null     float64
 4   hp      32 non-null     int64
 5   drat    32 non-null     float64
 6   wt      32 non-null     float64
 7   qsec    32 non-null     float64
 8   vs      32 non-null     int64
 9   am      32 non-null     int64
 10  gear    32 non-null     int64
 11  carb    32 non-null     int64
dtypes: float64(5), int64(6), object(1)
memory usage: 3.1+ KB

## 6. MANIPULATING DATA-SET

### Indexing by position

In [39]:
# View hp column only
cars.iloc[:,4]

0     110
1     110
2      93
3     110
4     175
5     105
6     245
7      62
8      95
9     123
10    123
11    180
12    180
13    180
14    205
15    215
16    230
17     66
18     52
19     65
20     97
21    150
22    150
23    245
24    175
25     66
26     91
27    113
28    264
29    175
30    335
31    109
Name: hp, dtype: int64

In [40]:
# First five records of hp column
cars.iloc[0:5,4]

0    110
1    110
2     93
3    110
4    175
Name: hp, dtype: int64

In [41]:
# All rows, all column
cars.iloc[:,:]

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

In [42]:
# For attributes from hp to carb see all the records from index 6
cars.iloc[6:,4:]

     hp  drat     wt   qsec  vs  am  gear  carb
6   245  3.21  3.570  15.84   0   0     3     4
7    62  3.69  3.190  20.00   1   0     4     2
8    95  3.92  3.150  22.90   1   0     4     2
9   123  3.92  3.440  18.30   1   0     4     4
10  123  3.92  3.440  18.90   1   0     4     4
11  180  3.07  4.070  17.40   0   0     3     3
12  180  3.07  3.730  17.60   0   0     3     3
13  180  3.07  3.780  18.00   0   0     3     3
14  205  2.93  5.250  17.98   0   0     3     4
15  215  3.00  5.424  17.82   0   0     3     4
16  230  3.23  5.345  17.42   0   0     3     4
17   66  4.08  2.200  19.47   1   1     4     1
18   52  4.93  1.615  18.52   1   1     4     2
19   65  4.22  1.835  19.90   1   1     4     1
20   97  3.70  2.465  20.01   1   0     3     1
21  150  2.76  3.520  16.87   0   0     3     2
22  150  3.15  3.435  17.30   0   0     3     2
23  245  3.73  3.840  15.41   0   0     3     4
24  175  3.08  3.845  17.05   0   0     3     2
25   66  4.08  1.935  18.90   1   1     4     1
26   91  4.43  2.140  16.70   0   1     5     2
27  113  3.77  1.513  16.90   1   1     5     2
28  264  4.22  3.170  14.50   0   1     5     4
29  175  3.62  2.770  15.50   0   1     5     6
30  335  3.54  3.570  14.60   0   1     5     8
31  109  4.11  2.780  18.60   1   1     4     2

In [43]:
# All the rows and only the first column
cars.iloc[:,0]

0               Mazda RX4
1           Mazda RX4 Wag
2              Datsun 710
3          Hornet 4 Drive
4       Hornet Sportabout
5                 Valiant
6              Duster 360
7               Merc 240D
8                Merc 230
9                Merc 280
10              Merc 280C
11             Merc 450SE
12             Merc 450SL
13            Merc 450SLC
14     Cadillac Fleetwood
15    Lincoln Continental
16      Chrysler Imperial
17               Fiat 128
18            Honda Civic
19         Toyota Corolla
20          Toyota Corona
21       Dodge Challenger
22            AMC Javelin
23             Camaro Z28
24       Pontiac Firebird
25              Fiat X1-9
26          Porsche 914-2
27           Lotus Europa
28         Ford Pantera L
29           Ferrari Dino
30          Maserati Bora
31             Volvo 142E
Name: model, dtype: object

### Indexing by Label

In [44]:
# See all the record of model column
cars.loc[:,"model"]

0               Mazda RX4
1           Mazda RX4 Wag
2              Datsun 710
3          Hornet 4 Drive
4       Hornet Sportabout
5                 Valiant
6              Duster 360
7               Merc 240D
8                Merc 230
9                Merc 280
10              Merc 280C
11             Merc 450SE
12             Merc 450SL
13            Merc 450SLC
14     Cadillac Fleetwood
15    Lincoln Continental
16      Chrysler Imperial
17               Fiat 128
18            Honda Civic
19         Toyota Corolla
20          Toyota Corona
21       Dodge Challenger
22            AMC Javelin
23             Camaro Z28
24       Pontiac Firebird
25              Fiat X1-9
26          Porsche 914-2
27           Lotus Europa
28         Ford Pantera L
29           Ferrari Dino
30          Maserati Bora
31             Volvo 142E
Name: model, dtype: object

In [45]:
# Display the records from index 0 to index 6 from mpg column
cars.loc[:6,"mpg"]

0    21.0
1    21.0
2    22.8
3    21.4
4    18.7
5    18.1
6    14.3
Name: mpg, dtype: float64

In [46]:
# See the first 6 records from mpg to qsec column
cars.loc[:5,"mpg":"qsec"]

    mpg  cyl   disp   hp  drat     wt   qsec
0  21.0    6  160.0  110  3.90  2.620  16.46
1  21.0    6  160.0  110  3.90  2.875  17.02
2  22.8    4  108.0   93  3.85  2.320  18.61
3  21.4    6  258.0  110  3.08  3.215  19.44
4  18.7    8  360.0  175  3.15  3.440  17.02
5  18.1    6  225.0  105  2.76  3.460  20.22

### Setting value

In [47]:
# Set value 1 to column 'am'
cars['am'] = 1
cars

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,1,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,1,3,2
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,1,3,1
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,1,3,4
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,1,4,2
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,1,4,2
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,1,4,4
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,1,4,4
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,1,3,3
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,1,3,3
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,1,3,3
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,1,3,4
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,1,3,4
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,1,3,4
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,1,3,1
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,1,3,2
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,1,3,2
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,1,3,4
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,1,3,2
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

### Applying function

In [48]:
# Double up records in 'am' using Lambda fxn
f = lambda x: x*2
cars['am'] = cars['am'].apply(f)
cars

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,2,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,2,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,2,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,2,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,2,3,2
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,2,3,1
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,2,3,4
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,2,4,2
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,2,4,2
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,2,4,4
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,2,4,4
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,2,3,3
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,2,3,3
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,2,3,3
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,2,3,4
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,2,3,4
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,2,3,4
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,2,4,1
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,2,4,2
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,2,4,1
20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,2,3,1
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,2,3,2
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,2,3,2
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,2,3,4
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,2,3,2
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,2,4,1
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,2,5,2
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,2,5,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,2,5,4
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,2,5,6
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,2,5,8
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,2,4,2

### Sorting

In [49]:
# Sorting cyl column ascending order
cars.sort_values(by='cyl')

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,2,4,2
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,2,4,1
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,2,5,2
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,2,5,2
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,2,4,1
20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,2,3,1
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,2,4,2
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,2,4,2
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,2,4,1
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,2,4,2
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,2,4,1
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,2,5,6
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,2,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,2,4,4
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,2,3,1
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,2,4,4
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,2,4,4
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,2,3,1
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,2,3,3
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,2,5,4
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,2,3,2
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,2,3,2
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,2,3,4
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,2,3,2
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,2,3,2
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,2,3,4
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,2,3,3
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,2,3,4
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,2,5,8
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,2,3,4
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,2,3,3
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,2,3,4

In [50]:
# Sort cyl in descending order
cars.sort_values(by='cyl', ascending=False)

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,2,3,4
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,2,5,8
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,2,3,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,2,5,4
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,2,3,4
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,2,3,2
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,2,3,4
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,2,3,2
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,2,3,2
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,2,3,3
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,2,3,3
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,2,3,3
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,2,3,4
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,2,3,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,2,4,4
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,2,5,6
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,2,4,4
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,2,4,4
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,2,4,4
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,2,3,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,2,3,1
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,2,4,1
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,2,4,2
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,2,4,1
20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,2,3,1
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,2,4,2
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,2,4,2
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,2,4,1
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,2,5,2
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,2,5,2
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,2,4,1
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,2,4,2

### Filtering

In [51]:
# Filter records with more than 6 cylinders
cars['cyl'] > 6

0     False
1     False
2     False
3     False
4      True
5     False
6      True
7     False
8     False
9     False
10    False
11     True
12     True
13     True
14     True
15     True
16     True
17    False
18    False
19    False
20    False
21     True
22     True
23     True
24     True
25    False
26    False
27    False
28     True
29    False
30     True
31    False
Name: cyl, dtype: bool

In [52]:
# Filter records with more than 6 cylinders
filter1 = cars['cyl'] > 6
# Apply filter ro dataframe
filtered_new = cars[filter1]
# View filtered dataframe
filtered_new

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,2,3,2
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,2,3,4
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,2,3,3
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,2,3,3
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,2,3,3
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,2,3,4
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,2,3,4
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,2,3,4
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,2,3,2
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,2,3,2
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,2,3,4
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,2,3,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,2,5,4
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,2,5,8

In [53]:
# Filter records with more 6 cyl and hp more than 300
filter2 = (cars["cyl"] > 6) & (cars["hp"] > 300)
# Apply filter to dataframe
filtered_new = cars[filter2]
filtered_new

            model   mpg  cyl   disp   hp  drat    wt  qsec  vs  am  gear  carb
30  Maserati Bora  15.0    8  301.0  335  3.54  3.57  14.6   0   2     5     8